doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Add a New Pet
    a(href="/") Return to the homepage
    form(action="/update-cobj", method="POST")
      div
        label(for="name") Name
        input(type="text", id="name", name="name", required)
      div
        label(for="species") Species
        input(type="text", id="species", name="species", required)
      div
        label(for="bio") Bio
        textarea(id="bio", name="bio", rows="4")
      div
        button(type="submit") Submit
